

.alerts-box {
  z-index: 90;
  width: 15%;
  position: fixed;
  bottom: 2%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .alert {
    position: relative;
    opacity: 0.8;
    margin: 3%;

    .alert-header{
      font-weight: bolder;
    }

    .x-mark{
      font-size: 20px;
      position: absolute;
      top: 2%;
      right: 2%;
      cursor: pointer;
    }

    .flex-wrapper {
      padding: 2%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }

  }
  .alert-error{
    background-color: tomato;
  }
  .alert-success{
    background-color: lawngreen;
  }
}

@media only screen and (max-width: 1300px) {
  .alerts-box{
    .alert{
      .flex-wrapper {
        flex-direction: column-reverse;
        padding: 10%;
      }
    }
  }


}