@use "animations";

main.grid-wrapper {
  margin: 7% auto 0% auto;
  width: 80%;
  min-height: 700px;
  display: grid;
  grid-template-columns: 25% 25% 35% 15%;
  grid-template-rows: repeat(10, 10%);

  div.content-block {
    position: relative;
    background-color: white;

    .content-block-text {
      padding: 5%;
      display: block;
      width: 80%;
      height: 80%;
      font-weight: bold;
      font-size: 1em;
      overflow-y: auto;
    }

    .block-curtain {
      position: absolute;
      top: 0;
      z-index: 3;
      width: 100%;
      height: 100%;

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .block-bsa {
    grid-column: 1;
    grid-row: 1/6;

    .block-curtain {
      background-color: white;

      .block-header {
        font-weight: bolder;
        font-size: 4em;
      }
    }

    &:hover {
      .block-curtain {
        animation: scale-out-hor-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .block-js {
    grid-column: 2;
    grid-row: 1/8;

    .block-curtain {
      background-color: rgba(255, 179, 22);

      .block-header {
        font-weight: bolder;
        font-size: 4em;
      }
    }

    &:hover {
      .block-curtain {
        animation: flip-out-hor-top 0.45s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      }
    }
  }


  .block-php {
    grid-column: 3/-1;
    grid-row: 1/4;

    .block-curtain {
      background-color: rgb(141, 133, 203);

      .block-header {
        margin: auto auto;
        font-size: 3em;
        font-style: italic;
      }
    }

    &:hover {
      .block-curtain {
        animation: slide-out-top 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      }
    }
  }

  .block-qa {
    grid-column: 1/2;
    grid-row: 6/-1;

    .block-curtain {
      background-color: rgba(91, 196, 91, 1);

      .block-header {
        margin: auto auto;
        color: white;
        font-size: 3em;
      }

    }

    &:hover {
      .block-curtain {
        animation: roll-out-left 1s ease-in both;
      }
    }
  }

  .block-java {
    grid-column: 2;
    grid-row: 8/-1;

    .block-curtain {
      background-color: rgba(255, 1, 62);

      .block-header {
        margin: auto auto;
        color: white;
        font-size: 3em;
      }
    }

    &:hover {
      .block-curtain {
        animation: slide-out-bottom 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      }
    }
  }

  .block-net {
    grid-column: 3;
    grid-row: 4/-1;

    .block-curtain {
      background-color: #761576;

      .block-header {
        margin: auto auto;
        color: white;
        font-size: 3em;
      }
    }

    &:hover {
      .block-curtain {
        animation: swing-out-bottom-fwd 0.55s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;
      }
    }
  }

  .block-events {
    grid-column: 4;
    grid-row: 4/7;

    .block-curtain {
      background-color: #0786db;

      .block-header {
        margin: auto auto;
        color: white;
        font-size: 1em;
      }
    }

    &:hover {
      .block-curtain {
        animation: slide-out-bck-right 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
      }
    }
  }

  .block-blog {
    grid-column: 4;
    grid-row: 7/10;

    .block-curtain {
      background-color: #2d2db8;

      .block-header {
        margin: auto auto;
        color: white;
        font-size: 1em;
      }
    }

    &:hover {
      .block-curtain {
        animation: roll-out-right 0.6s ease-in both;
      }
    }
  }

  .block-contacts {
    grid-column: 4;
    grid-row: 10;

    .block-curtain {
      background-color: #020265;

      .block-header {
        margin: auto auto;
        color: white;
        font-size: 1em;
      }
    }

    &:hover {
      .block-curtain {
        animation: roll-out-right 0.6s ease-in both;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  main.grid-wrapper {
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(5, 20%);

    .block-bsa {
      grid-column: 1/10;
      grid-row: 1/4;
    }

    .block-js {
      grid-column: 10/17;
      grid-row: 1/4;
    }

    .block-php {
      grid-column: 6/-1;
      grid-row: 4;
    }

    .block-qa {
      grid-column: 1/6;
      grid-row: 5;
    }

    .block-java {
      grid-column: 1/6;
      grid-row: 4;
    }

    .block-net {
      grid-column: 6/-1;
      grid-row: 5;
    }

    .block-events {
      grid-column: 17/-1;
      grid-row: 1;
    }

    .block-blog {
      grid-column: 17/-1;
      grid-row: 2;
    }

    .block-contacts {
      grid-column: 17/-1;
      grid-row: 3;
    }
  }
}