
nav.navbar {
  border-bottom: 1px solid lightgrey;
  z-index: 90;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;

  animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


  .flex-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    justify-content: space-between;

    .logo {
      height: 100%;

      img {
        height: 30px;
        object-fit: contain;
      }
    }

    .controls {
      padding: 5px;
      display: flex;
      align-items: center;
      width: 70px;
      justify-content: space-around;

      .bell-ico {
        opacity: 0.4;
        font-size: 20px;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }

      .dropdown-profile {
        position: relative;
        width: 40px;
        font-size: 0;
        text-align: center;
        border-radius: 50%;
        background-color: rgba(255, 69, 0, 0.5);

        &::first-letter {
          font-size: 35px;
        }

        &:hover {
          background-color: rgba(255, 69, 0, 1);
        }

        input {
          display: block;
          top: 1px;
          right: 0;
          width: 35px;
          height: 32px;
          position: absolute;
          cursor: pointer;
          opacity: 0;
          z-index: 2;

          &:checked ~ .dropdown-info {
            display: block;
          }
        }

      }

      .dropdown-info {
        z-index: 150;
        position: absolute;
        left: -40px;
        top: 70px;
        display: none;
        width: 120px;

        background-color: white;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        border: 1px solid #727272;
        border-radius: 10%;

        hr{
          margin: 0 10%;
        }
        .username {
          color: #727272;
          margin-bottom: 5%;

          &:hover{
            cursor: default;
          }
        }

        a {
          //font-weight: bold;
          margin: 1%;
          display: block;
          text-decoration: none;
          color: black;
          border-radius: 15%;

          &:hover {
            background-color: #d7d6d6;
          }
        }

      }

    }

  }

}
