@use 'navbar';
@use 'mainBlock';
@use 'alert';

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  font-family: Arial, "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;

}

footer {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 6%;
}

