nav.navbar {
  border-bottom: 1px solid lightgrey;
  z-index: 90;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  animation: slide-in-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
nav.navbar .flex-wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav.navbar .flex-wrapper .logo {
  height: 100%;
}
nav.navbar .flex-wrapper .logo img {
  height: 30px;
  object-fit: contain;
}
nav.navbar .flex-wrapper .controls {
  padding: 5px;
  display: flex;
  align-items: center;
  width: 70px;
  justify-content: space-around;
}
nav.navbar .flex-wrapper .controls .bell-ico {
  opacity: 0.4;
  font-size: 20px;
  cursor: pointer;
}
nav.navbar .flex-wrapper .controls .bell-ico:hover {
  opacity: 1;
}
nav.navbar .flex-wrapper .controls .dropdown-profile {
  position: relative;
  width: 40px;
  font-size: 0;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255, 69, 0, 0.5);
}
nav.navbar .flex-wrapper .controls .dropdown-profile::first-letter {
  font-size: 35px;
}
nav.navbar .flex-wrapper .controls .dropdown-profile:hover {
  background-color: orangered;
}
nav.navbar .flex-wrapper .controls .dropdown-profile input {
  display: block;
  top: 1px;
  right: 0;
  width: 35px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
nav.navbar .flex-wrapper .controls .dropdown-profile input:checked ~ .dropdown-info {
  display: block;
}
nav.navbar .flex-wrapper .controls .dropdown-info {
  z-index: 150;
  position: absolute;
  left: -40px;
  top: 70px;
  display: none;
  width: 120px;
  background-color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 1px solid #727272;
  border-radius: 10%;
}
nav.navbar .flex-wrapper .controls .dropdown-info hr {
  margin: 0 10%;
}
nav.navbar .flex-wrapper .controls .dropdown-info .username {
  color: #727272;
  margin-bottom: 5%;
}
nav.navbar .flex-wrapper .controls .dropdown-info .username:hover {
  cursor: default;
}
nav.navbar .flex-wrapper .controls .dropdown-info a {
  margin: 1%;
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 15%;
}
nav.navbar .flex-wrapper .controls .dropdown-info a:hover {
  background-color: #d7d6d6;
}

@keyframes flip-out-hor-top {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(70deg);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes roll-out-left {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px) rotate(-540deg);
    opacity: 0;
  }
}
@keyframes roll-out-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(100px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes swing-out-bottom-fwd {
  0% {
    transform: rotateX(0);
    transform-origin: bottom;
    opacity: 1;
  }
  100% {
    transform: rotateX(-70deg);
    transform-origin: bottom;
    opacity: 0;
  }
}
@keyframes slide-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes slide-out-bck-right {
  0% {
    transform: translateZ(0) translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateZ(-100px) translateX(100px);
    opacity: 0;
  }
}
@keyframes scale-out-hor-left {
  0% {
    transform: scaleX(1);
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
main.grid-wrapper {
  margin: 7% auto 0% auto;
  width: 80%;
  min-height: 700px;
  display: grid;
  grid-template-columns: 25% 25% 35% 15%;
  grid-template-rows: repeat(10, 10%);
}
main.grid-wrapper div.content-block {
  position: relative;
  background-color: white;
}
main.grid-wrapper div.content-block .content-block-text {
  padding: 5%;
  display: block;
  width: 80%;
  height: 80%;
  font-weight: bold;
  font-size: 1em;
  overflow-y: auto;
}
main.grid-wrapper div.content-block .block-curtain {
  position: absolute;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main.grid-wrapper .block-bsa {
  grid-column: 1;
  grid-row: 1/6;
}
main.grid-wrapper .block-bsa .block-curtain {
  background-color: white;
}
main.grid-wrapper .block-bsa .block-curtain .block-header {
  font-weight: bolder;
  font-size: 4em;
}
main.grid-wrapper .block-bsa:hover .block-curtain {
  animation: scale-out-hor-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
main.grid-wrapper .block-bsa img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main.grid-wrapper .block-js {
  grid-column: 2;
  grid-row: 1/8;
}
main.grid-wrapper .block-js .block-curtain {
  background-color: #ffb316;
}
main.grid-wrapper .block-js .block-curtain .block-header {
  font-weight: bolder;
  font-size: 4em;
}
main.grid-wrapper .block-js:hover .block-curtain {
  animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
main.grid-wrapper .block-php {
  grid-column: 3/-1;
  grid-row: 1/4;
}
main.grid-wrapper .block-php .block-curtain {
  background-color: #8d85cb;
}
main.grid-wrapper .block-php .block-curtain .block-header {
  margin: auto auto;
  font-size: 3em;
  font-style: italic;
}
main.grid-wrapper .block-php:hover .block-curtain {
  animation: slide-out-top 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
main.grid-wrapper .block-qa {
  grid-column: 1/2;
  grid-row: 6/-1;
}
main.grid-wrapper .block-qa .block-curtain {
  background-color: #5bc45b;
}
main.grid-wrapper .block-qa .block-curtain .block-header {
  margin: auto auto;
  color: white;
  font-size: 3em;
}
main.grid-wrapper .block-qa:hover .block-curtain {
  animation: roll-out-left 1s ease-in both;
}
main.grid-wrapper .block-java {
  grid-column: 2;
  grid-row: 8/-1;
}
main.grid-wrapper .block-java .block-curtain {
  background-color: #ff013e;
}
main.grid-wrapper .block-java .block-curtain .block-header {
  margin: auto auto;
  color: white;
  font-size: 3em;
}
main.grid-wrapper .block-java:hover .block-curtain {
  animation: slide-out-bottom 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
main.grid-wrapper .block-net {
  grid-column: 3;
  grid-row: 4/-1;
}
main.grid-wrapper .block-net .block-curtain {
  background-color: #761576;
}
main.grid-wrapper .block-net .block-curtain .block-header {
  margin: auto auto;
  color: white;
  font-size: 3em;
}
main.grid-wrapper .block-net:hover .block-curtain {
  animation: swing-out-bottom-fwd 0.55s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}
main.grid-wrapper .block-events {
  grid-column: 4;
  grid-row: 4/7;
}
main.grid-wrapper .block-events .block-curtain {
  background-color: #0786db;
}
main.grid-wrapper .block-events .block-curtain .block-header {
  margin: auto auto;
  color: white;
  font-size: 1em;
}
main.grid-wrapper .block-events:hover .block-curtain {
  animation: slide-out-bck-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
main.grid-wrapper .block-blog {
  grid-column: 4;
  grid-row: 7/10;
}
main.grid-wrapper .block-blog .block-curtain {
  background-color: #2d2db8;
}
main.grid-wrapper .block-blog .block-curtain .block-header {
  margin: auto auto;
  color: white;
  font-size: 1em;
}
main.grid-wrapper .block-blog:hover .block-curtain {
  animation: roll-out-right 0.6s ease-in both;
}
main.grid-wrapper .block-contacts {
  grid-column: 4;
  grid-row: 10;
}
main.grid-wrapper .block-contacts .block-curtain {
  background-color: #020265;
}
main.grid-wrapper .block-contacts .block-curtain .block-header {
  margin: auto auto;
  color: white;
  font-size: 1em;
}
main.grid-wrapper .block-contacts:hover .block-curtain {
  animation: roll-out-right 0.6s ease-in both;
}

@media only screen and (max-width: 900px) {
  main.grid-wrapper {
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(5, 20%);
  }
  main.grid-wrapper .block-bsa {
    grid-column: 1/10;
    grid-row: 1/4;
  }
  main.grid-wrapper .block-js {
    grid-column: 10/17;
    grid-row: 1/4;
  }
  main.grid-wrapper .block-php {
    grid-column: 6/-1;
    grid-row: 4;
  }
  main.grid-wrapper .block-qa {
    grid-column: 1/6;
    grid-row: 5;
  }
  main.grid-wrapper .block-java {
    grid-column: 1/6;
    grid-row: 4;
  }
  main.grid-wrapper .block-net {
    grid-column: 6/-1;
    grid-row: 5;
  }
  main.grid-wrapper .block-events {
    grid-column: 17/-1;
    grid-row: 1;
  }
  main.grid-wrapper .block-blog {
    grid-column: 17/-1;
    grid-row: 2;
  }
  main.grid-wrapper .block-contacts {
    grid-column: 17/-1;
    grid-row: 3;
  }
}
.alerts-box {
  z-index: 90;
  width: 15%;
  position: fixed;
  bottom: 2%;
  right: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.alerts-box .alert {
  position: relative;
  opacity: 0.8;
  margin: 3%;
}
.alerts-box .alert .alert-header {
  font-weight: bolder;
}
.alerts-box .alert .x-mark {
  font-size: 20px;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}
.alerts-box .alert .flex-wrapper {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.alerts-box .alert-error {
  background-color: tomato;
}
.alerts-box .alert-success {
  background-color: lawngreen;
}

@media only screen and (max-width: 1300px) {
  .alerts-box .alert .flex-wrapper {
    flex-direction: column-reverse;
    padding: 10%;
  }
}
html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #e5e5e5;
  font-family: Arial, "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

footer {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 6%;
}

/*# sourceMappingURL=styles.css.map */
